*, *::before, *::after {
  box-sizing: border-box;
}

*:focus {
  outline: 2px solid #fff;
}

html {
  font-size: 110%;
  line-height: 1.4;
}

body {
  font-family: system-ui, sans-serif;
  background: var(--bg);
  color: var(--fg);
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--anchor);
}

main {
  flex: 1 auto;
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline-end: auto;
  padding-block: 2rem;
}

address {
  background: #000;
  color: #fff;
  border-radius: 0.25rem;
  border: 1px solid #fff;
  padding: 1rem;
}

